@model SampleBank.Models.BankAccount

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>BankAccount</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.accountNumber)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.accountNumber)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.expirationDate)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.expirationDate)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.beneficiaryName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.beneficiaryName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.cardNumber)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.cardNumber)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.balance)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.balance)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>

<div class="container col-8">
	<div class="row justify-content-around">
		<a asp-controller="Transactions" asp-action="Create" asp-route-accountId="@Model?.id" asp-route-transactionType="outerTransaction" method="get" class="col btn btn-dark col-2">Transfer To Beneficiary</a>
		<a asp-controller="Transactions" asp-action="Create" asp-route-accountId="@Model?.id" asp-route-transactionType="innerTransaction" method="get" class="col btn btn-dark col-2">Transfer Between Accounts</a>
	</div>
	<div class="row mt-2 justify-content-around">
		<a asp-controller="Transactions" asp-action="Create" asp-route-accountId="@Model?.id" asp-route-transactionType="withdraw" method="get" class="col btn btn-dark col-2">Withdraw</a>
		<a asp-controller="Transactions" asp-action="Create" asp-route-accountId="@Model?.id" asp-route-transactionType="deposit" method="get" class="col btn btn-dark col-2">Deposit</a>
	</div>
</div>
