@model SampleBank.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fromBankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fromBankAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toBankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toBankAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
